streamlit
langchain
langchain-groq
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langgraph
tavily-python
python-dotenv
pypdf
faiss-cpu
scikit-learn
arxiv
pymupdf
sentence-transformers
huggingface-hub
fpdf==1.7.2 
supabase